.pb_section{
    padding: 4% 0;
}
.pb_section .pb_section_inner{
    padding: 27px 0;
    width: 80%;
    max-width: 1080px;
    margin: auto;
}
.pb_section .pb_section_inner h1 {
    font-family: 'Philosopher',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 72px;
    color: #fe7f5c!important;
    text-align: center;
}
.text_align_inner{
    margin-bottom: 2.75%;
    margin-left: auto !important;
    margin-right: auto !important;
}
.text_align_inner .text_inner h3 {
    font-family: "Kaushan Script", handwriting;
    font-style: italic;
    color: #fe7f5c !important;
    line-height: 1.3em;
    text-align: center;
}
.text_align_inner .text_inner h2 {
    font-family: "Philosopher", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
    color: #313453;
    text-align: center;
}